* {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

:root {

    --primary: #B388EB;
    --secondary: #8093F1;
    --background: #100220;
    --text: #EEEEEE;
    --text-secondary: #CCCCCC;
    --button-text: #222222;

}


body {
    background-color: var(--background);
    color: var(--text);
}


main {
    border: 5px solid white;
}